<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="productName" value="Hammer" />
	<parameter name="expectedProduct" value="0" />
	<parameter name="weight" value="300" />
	<parameter name="firstName" value="fn" />
	<parameter name="lastName" value="ln" />
	<parameter name="address" value="Grafelfinger Str 8" />
	<parameter name="postal" value="81375" />
	<parameter name="city" value="Munich" />
	<parameter name="paymentMethod" value="PayPal" />
	<test name="Test">
		<classes>
			<class name="com.qa.testcases.ContorionPageTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
